*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #1e2d3b;
  min-height: 100vh;
}
.k_container{
  width: 70%;
  margin: 0 auto;
  padding-top:50px;
  display: flex;
  flex-wrap: wrap;
}
.my-header{
  display:flex;
  justify-content: space-between;
  align-content: center;
  padding: 15px 20px;
  height: 65px;
  background-color: #2e3a46;
}
i {
  color: #34be58;
  font-size: 2.5rem;
}
.k_group{
  width: 200px;
}
#inputGroupSelect04{
  width:100%;
  border-radius: 5px;
  height: 35px;
  color:black;
}

.k_card{
  width: 185px;
  height: 320px;
  padding: 15px;
  margin: 0 .8rem 2rem .8rem;
  background-color:#2e3a46;
  text-align: center;
  color:white;
}
img{
  width:100%;
  margin-bottom: 6px;
  height: 150px;
}
.title-card{
  text-transform: uppercase;
  margin-top: 8px;
  font-size: 14px;
}
.singer-year{
  font-size: 14px;
  color: grey;
  margin-top:15px;
  font-weight: 500;
}

